* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
/* shared styles */
.primary-btn {
  background: #e55473;
  border-radius: 8px;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.primary-styles {
  width: 1440px;
  border: 2px solid;
  margin: 130px 240px;
}
/* banner related styles*/
.header,
.hot-deal-section {
  background: rgba(229, 84, 115, 0.1);
}

.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 240px 0px 240px;
  height: 100vh;
  gap: 100px;
  margin-bottom: 0;
}

.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 900;
  text-align: left;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  max-width: 630px;
  margin: 32px 0;
  line-height: 30px;
}
/* banner related styles end*/

/* Hot deal section styles */

.hot-deal-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 400px;
  gap: 180px;
}
.hot-deal-info span {
  color: red;
}
.hot-deal-info {
  text-align: center;
}
.hot-deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
}
.hot-deal-description {
  width: 600px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0 32px 0;
}
/* Hot deal section end */

/* Instagram section styles */

.instagram-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.instagram-description, .latest-deal-description{
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0 50px 0;
}
.flower-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}
/* Instagram section styles end*/

/* latest deal section styles */

.latest-deal-container{
  background-image: url(asset/Rectangle\ 9.png);
  background-size: cover;
}
.latest-deal-title{
  color:#272727;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding-top: 120px;
}

.latest-deal-subscribe{
  
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
 
}
.latest-deal-subscribe input{
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-right: 10px

}