* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
/* shared styles */
.primary-btn {
  background: #e55473;
  border-radius: 8px;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.primary-styles {
  width: 1440px;
 
  margin: 130px 240px;
}
.primary-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0 50px 0;
  width: 600px;
  margin: auto;
}
/* shared styles end*/

/* banner related styles*/
.header,
.hot-deal-section {
  background: rgba(229, 84, 115, 0.1);
}

.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 240px 0px 240px;
  height: 100vh;
  gap: 100px;
  margin-bottom: 0;
}

.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 900;
  text-align: left;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  max-width: 630px;
  margin: 32px 0;
  line-height: 30px;
}
/* banner related styles end*/

/* featured flower section styles */
.featured-flower-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}
.flowers-item-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 65px 75px 0 75px;
  max-width: 460px;
  box-shadow: 5px 5px 10px rgba(1, 3, 0, 0.15);
}

.flowers-item-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 115px 47px 50px 47px;
  max-width: 460px;
  box-shadow: 5px 5px 10px rgba(1, 3, 0, 0.15);
}
.flowers-item-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 75px 0px 75px;
  max-width: 460px;
  box-shadow: 5px 5px 10px rgba(1, 3, 0, 0.15);
}
.flower-name {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration: underline;
  margin-top: 32px;
}
/* featured flower section styles end*/

/* Hot deal section styles */

.hot-deal-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 400px;
  gap: 180px;
}
.hot-deal-info span {
  color: red;
}
.hot-deal-info {
  text-align: center;
}
.hot-deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 900;
}
.hot-deal-description {
  width: 600px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0 32px 0;
}
/* Hot deal section end */

/* Instagram section styles */

.instagram-title,
.featured-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

.flower-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}
/* Instagram section styles end*/

/* latest deal section styles */

.latest-deal-container {
  background-image: url(asset/Rectangle\ 9.png);
  background-size: cover;
  padding: 120px 0;
}
.latest-deal-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  
}

.latest-deal-subscribe {
  display: flex;
  justify-content: center;
  
}
.latest-deal-subscribe input {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}

/* latest deal section styles end*/
/* footer section styles */
.footer {
  padding: 130px 0;
  background: #111010;
}
.footer .primary-description {
  color: rgba(255, 255, 255, 0.9);
}
.footer-title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  color: white;
}
.footer-title span {
  color: red;
}
.footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
/* footer section styles end */
